*,::after,::before{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    background: rgb(255, 132, 100);
    background: linear-gradient(
        90deg,
        rgb(255,132,100,1)0%,
        rgb(253,105,165,1)100%
    );
}
.container{
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100%;
}
.card-body{
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
.card-body h1{
    margin-bottom: 15px;
    color:brown;
    font-size: 70px;
    font-weight: 900;
}
.card-btn button{
     border-radius: 5px;
     color:#262626;
     padding: 10px 30px;
     border: 0;
     font-size: 15px;
     font-weight: bold;
     margin: 0 5px;
     cursor: pointer;
     transition:0.5s;
}
button#Decrement:hover{
    background:#f3a685; 
    color: #fff;
}
button#Reset:hover{
    background:#f6e58d; 
    color: #fff;
}
button#Increment:hover{
    background:#f79f1f; 
    color: #fff;
}